:root {
    --bg1: #ff0;
    --bg2: #006;
    --bg3: #ffe;
    --bg4: #99f;
    --fg1: #300;
    --fg2: #fff;
    --fg3: #003;
    --fg4: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Cambria, serif;
    font-size: 18px;
    height: 100vh;

    background-color: var(--bg4);
    color: var(--fg4);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    margin-inline-start: 0;
}

h1 {font-size: 40px}
h2 {font-size: 34px}
h3 {font-size: 30px}
h4 {font-size: 27px}
h5 {font-size: 24px}
h6 {font-size: 22px}

p {
    text-indent: 32px;
    text-align: justify;
}

p::first-letter {
    font-size: 1.5rem;
}

li {
    text-align: justify;
}

button, .btn {
    background-color: var(--bg2);
    padding: 3px;
    border: 1px solid #777;
    border-radius: 5px;
    color: var(--fg2);
    text-decoration: none;
    user-select: none;
}

.btn-menu {
    margin: 0;
    padding: 0 10px;
    font-size: 25px;
}

button:active, .btn:active {
    filter: brightness(80%);
}

button:disabled, .btn:disabled {
    filter: grayscale(100%) brightness(80%);
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    top: 0;
    margin: 0;
    padding: 5px 10px;

    background-color: var(--bg2);
    border-bottom: 4px solid var(--fg2);
    color: var(--fg2);
    height: 67px;
    box-sizing: border-box;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 25px;
    box-sizing: border-box;
}

table, tr, th, td {
    border-collapse: collapse;
    padding: 10px;
}

th {
    border-bottom: 2px solid var(--fg2);
}

tr:nth-child(2n) {
    background-color: #8883;
}

form, table {
    background-color: var(--bg2);
    color: var(--fg2);
    padding: 5px;
    margin: 0;
    width: max-content;
    width: max-content;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;
}

form > div {
    display: flex;
    margin: 2px;
    justify-content: space-between;
    gap: 5px;
}

form > div > * {
    flex: 1 1 45% ;
    box-sizing: border-box;
    margin: 0;
}

input, .password-input {
    border: 0.5px solid #000;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    padding: 0 5px;
    margin: 0;
    width: 0;
    box-sizing: border-box;
}

input {
    padding: 5px;
}

input:focus, .password-input.focus {
    outline: 2px solid #fff;
}

.logo {
    font-size: 32px;
    font-family: Calibri;
    font-weight: 700;
}

.password-input {
    display: flex;
    gap: 0;
}

.password-input input {
    flex-grow: 1;
    background-color: inherit;
    border: none;
    padding: 5px 0;
    margin: 0;
    width: calc(100% - 25px);
}

.password-input input:focus {
    outline: none;
}

.password-input button {
    flex-grow: 0;
    width: 25px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 0;
    border: none;
    background-color: inherit;
    padding: 5px;
    margin: 0;
}

.password-input button.eye-open {
    background-image: url("/tameiak/public/img/eye-open.png");
}

.password-input button.eye-close {
    background-image: url("/tameiak/public/img/eye-close.png");
}

.btn-access {
    background-color: #33a;
    color: #fff;
}

.btn-reset {
    background-color: #a33;
    color: #fff;
}

.popup-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation: popup-container 500ms ease 200ms 1;
    animation-fill-mode: forwards;
    transform: translateY(calc(100% + 20px));
}

.popup {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000;
    z-index: 1;
    background-color: var(--bg4);
    font-size: 17px;
}

.error {
    background-color: #a33;
    color: #fff;
}

.sucess {
    background-color: #3a3;
    color: #000;
}

.alert {
    background-color: #aa3;
    color: #000;
}
 
@keyframes popup-container {
    0% {
    }

    100% {
        transform: translateY(0%);
    }
}

#main-side-menu {
    position: fixed;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: max-content;
    left: 0;
    top: 0;
    background-color: var(--bg4);
    border-right: 4px solid var(--bg3);
    padding: 10px;
    box-sizing: border-box;
}

#main-side-menu.hidden, #main-side-menu-shadow.hidden {
    display: none;
}

#main-side-menu nav {
    overflow-y: auto;
}

#main-side-menu span {
    color: var(--fg4);
    font-weight: 600;
}

#main-side-menu ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

#main-side-menu a {
    overflow: hidden;
    color: var(--fg3);
    margin: 1px;
    text-align: left;
    border-left: 4px solid var(--bg3);
    padding-left: 5px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

#main-side-menu a:hover {
    filter: brightness(70%);
}

#main-side-menu-shadow {
    position: fixed;
    background-color: #000a;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}