body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Cambria, serif;
    height: 100vh;

    background-color: #abc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

button, .btn {
    background-color: #cba;
    padding: 3px;
    border: 1px solid #876;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
}

button:active, .btn:active {
    background-color: #987;
}

header {
    position: sticky;
    display: flex;
    gap: 5px;
    top: 0;
    margin: 0;
    padding: 0;

    background-color: #789a;
    border-bottom: 4px solid #4567;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

form {
    background-color: #9ab;
    padding: 5px;
    margin: 5px;
    width: max-content;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;
}

form div {
    display: flex;
    margin: 2px;
    justify-content: space-between;
    gap: 5px;
}

input, .password-input {
    border: 0.5px solid #000;
    border-radius: 3px;
    background-color: #fff;
    padding: 2px;
}

input:focus, .password-input.focus {
    outline: 2px solid #fff;
}

.logo {
    font-size: 32px;
    font-family: Calibri;
    font-weight: 700;
    color: #345;
}

.password-input {
    display: flex;
    gap: 0;
}

.password-input input {
    flex-grow: 1;
    background-color: inherit;
    border: none;
    padding: 0;
    width: calc(100% - 17px);
}

.password-input input:focus {
    outline: none;
}

.password-input button {
    flex-grow: 0;
    width: 17px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 0;
    border: none;
    background-color: inherit;
    padding: 0;
}

.password-input button.eye-open {
    background-image: url("/ssm.bk/public/img/eye-open.png");
}

.password-input button.eye-close {
    background-image: url("/ssm.bk/public/img/eye-close.png");
}